@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

.card-body {
  font-size: 16px;
  color: #404040;
  font-family: Montserrat, sans-serif;
  background: var(--background);
  margin: 0;
  display: flex;
  place-items: center;
  box-sizing: border-box;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.container-card {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 8px;
	grid-row-gap: 64px;
	width: 100%;
	height: auto;
	justify-items: center;
	padding-top: 128px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 200px;
}

.card {
	background-color: #fff;
	width: 300px;
	display: flex;
	overflow: hidden;
	border-radius: 6px;
	flex-direction: column;
	box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
	transition: transform 0.2s ease;
}

.card:hover {
	transform: scale(1.1);
}

.card .banner {
	margin-top: 32px;
	margin-bottom: 16px;
	height: 200px;
	width: auto;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	box-sizing: border-box;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.card h2.name {
	text-align: center;
	color: white;
	background: var(--all-results-title-background-color);
	margin: 0px 50px 10px 50px;
	border-radius: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.card .title {
	color: #a0a0a0;
	font-size: 0.85rem;
	text-align: center;
	padding: 0 2rem 1.2rem;
}

.card .desc {
	text-align: justify;
	letter-spacing: 1px;
	font-size: 14px;
	font-weight: 500;
	padding: 0 2rem 1.5rem 2rem;
	// height: 95px;
	// max-height: 95px;
}

@media only screen and (max-width: 1000px) {
	.container-card {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (max-width: 700px), only screen and (max-height: 600px) {
	.container-card {
		grid-template-columns: repeat(1, 1fr);
	}
}
