
:root {
	--white: white;
	--black: black;

	--header-color:  white;
    --footer-color:  white;
	--text-color: black;
	--quiz-other-text-color: grey;
	--background: linear-gradient(30deg, #2d24aa 0%, #0098fd 75%);

	--quiz-background: linear-gradient(30deg, #2d24aa 0%, #0098fd 75%);
	--quiz-modal-background: white;
	--quiz-text-color: black;
	--quiz-other-text-color: black;
	--quiz-button-text-color: white;
	--quiz-button-background-color: #2659ff;
}

.dark {
	--white: black;
	--black: white;

	--header-color:  #1f1f1f;
    --footer-color:  #1f1f1f;
	--text-color: grey;
	--other-text-color: grey;
	--background: #0f0f0f;

	--quiz-background: #0f0f0f;
	--quiz-modal-background: #1f1f1f;
	--quiz-text-color: white;
	--quiz-other-text-color: white;
	--quiz-button-text-color: white;
	--quiz-button-background-color: #3d3d3d;
}

#darkmodeIcon {
	cursor: pointer;
	width: 32px;
	height: 32px;
	transition: all 1s ease;
}

#darkmodeIcon:hover {
	transition: all 0.25s ease;
	transform: scale(1.2) rotate(25deg);
}

#darkmodeIcon:active {
	transition: all 0.1s ease;
	transform: scale(0.9) rotate(-5deg);
}


