.editor {
	overflow-y: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    background-color: #399ad6;

	margin-top: 75px;
	padding: 40px;

}

body {
	height: auto;
}

header {
	position: absolute;
	width: 100vw;
	background-color: white;
}

.editor #question {
	position: static;
	transform: none;
}

/* The container must be positioned relative: */
.select {
	position: relative;
	margin-bottom: 20px;
	width:700px;
}


.select-selection, .select-option {
	background-color: rgb(255, 255, 255);
}

  /* Style the arrow inside the select element: */
.select-selection:after {
	position: absolute;
	content: "";
	top: 14px;
	right: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: rgb(151, 151, 151) transparent transparent transparent;
}

  /* Point the arrow upwards when the select box is open (active): */
.select:not(:hidden) .select-selection:after {
	border-color: transparent transparent #fff transparent;
	top: 7px;
}

  /* style the items (options), including the selected item: */
  .select-option, .select-selection {
	color: #2F2F2F;
	padding: 8px 16px;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	background-color: rgb(255, 255, 255);

}

  /* Style items (options): */
.select-options {
	position: absolute;
	background-color: rgb(255, 255, 255);
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
}

.select-option:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.coefs {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

#answer-editor {
	background-color: white;
	width: 700px;
	padding: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 20px;

	h2 {
		align-self: flex-start;
		margin-bottom: 20px;
		font-weight: 18px;
		font-weight: normal;
	}

	transition: opacity 0.2s linear, top 0.3s ease;
}




.coef {
	margin: 20px;
	margin-bottom: 40px;
	display: flex;
	align-items:center;

	.coef-name {
		margin-right: 5px;
	}

}

#answer-text {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}

.question-text-input {
	all: unset;
	display: block;
}

#answer-text-input {
	all: unset;
	padding: 25px;
	font-weight: normal;
	font-size: 24px;
	text-align: center;
	color: white;
	padding: 16px 32px;
	font-size: 12px;
	letter-spacing: 1px;
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
	background-color: #2096df;
	margin: 5px;
}

#answer-text-save {

}

.button:disabled {
	background-color: rgb(81, 98, 117);
}

#save-all-button {
 	width: 500px;
}

.editor-buttons {
	display: flex;
	justify-content: space-around;
	width: 400px;
	margin-bottom: 20px;

	.button {
		width: 100px;
	}
}
