

.editor {
    background-color: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 40px;
	flex-grow: 1;
}

.select {
	position: relative;
	width: 700px;
	margin-bottom: 20px;


	.select-selection:after {
		position: absolute;
		content: "";
		right: 10px;
		width: 0;
		height: 0;
		border: 6px solid transparent;
		border-color: rgb(151, 151, 151) transparent transparent transparent;
		//border-color: transparent transparent #fff transparent;
		top: 12px;
	}

	.select-option, .select-selection {
		color: #2F2F2F;
		padding: 8px 16px;
		border: 1px solid transparent;
		border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
		cursor: pointer;
		background-color: rgb(255, 255, 255);
		box-shadow: 0 2px 16px -12px black !important;

	}

	.select-options {
		position: absolute;
		background-color: rgb(255, 255, 255);
		top: 100%;
		left: 0;
		right: 0;
		z-index: 99;
		max-height: 30vh;
		overflow-y: auto;
	}

	.select-option:hover {
		background-color: rgba(0, 0, 0, 0.1);
	}
}

#EdQuestion, #EdResult {

	display: flex;
	width: 700px;
	height: auto;
	padding: 48px;
	margin-bottom: 32px;
	flex-direction: column;
	background-color: white;
	transition: opacity 0.2s linear, top 0.3s ease;
	box-shadow: 0 2px 32px -20px black;

	#EdAnswers {
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 100%;

		.answer {
            width: 100%;
            margin: 0 16px;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}

			&.selected {
				outline: 2px rgb(0, 0, 0) solid;
			}
		}
	}
}

#EdAnswerInputWrap, #EdQuestionInputWrap{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;

	input {
		all: unset;
		display: grid;
		place-items: center;
		width: 230px;
		padding: 16px;
		font-weight: normal;
		text-align: center;
		padding: 16px 32px;
		background-color: #f3f3f3;
	}

	#EdAnswerInput {
		font-size: 14px;
		letter-spacing: 1px;
		text-align: center;
		font-weight: normal;
		text-transform: uppercase;
	}

	#EdQuestionInput {
		text-align: center;
		font-weight: normal;
		font-size: 20px;
		width: 80%;
	}
}

#EdQuestionInputWrap {
	margin: 20px 0 30px;
}

.ed-buttons {
	display: flex;
	justify-content: space-around;
	width: 400px;
	margin-bottom: 20px;

	.button {
		width: 100px;
	}
}

.ed-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 10px;
	margin-top: 10px;

	h2 {
		font-weight: 18px;
		font-weight: normal;
	}

	h3 {
		font-weight: 18px;
		font-weight: normal;
	}


	button {
		background-color: #c31717;
		padding-bottom: 6px;
		padding-top: 6px;

		&:hover {
			background-color: #ac1c1c;
		}
	}
}

#EdCoefs {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;

	.coef {
		padding-bottom: 10px;
		margin-bottom: 10px;
		border: 1px solid transparent;
		border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
		width: 80%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.coef-name {
			margin-right: 5px;
		}

		.coef-slider {
			width: 30%;
		}

	}
}

#EdAnswerEditor {
	background-color: white;
	width: 700px;
	padding: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	box-shadow: 0 2px 32px -20px black;

	h2 {
		align-self: flex-start;
		font-weight: 18px;
		font-weight: normal;
	}

	transition: opacity 0.2s linear, top 0.3s ease;
}

.form__input {
	font-family: sans-serif;
	font-size: 1.2rem;
	margin: 0 auto;
	padding: 1.5rem 2rem;
	border-radius: 0.05rem;
	background-color: rgb(211, 211, 211);
	border:none;
	width: 90%;
	display: block;
}
