@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import 'darkmode';

*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
	// transition: background-color 0.2s linear;
}

body {
    display: flex;
	min-height: 100vh;
	height: 100vh;
	overflow-x: hidden; // tell me why does everything that I love get taken away from me? Why does everything that I love get taken away? You take me to the edge, push me too far
    flex-direction: column;
	font-family: 'PT Sans', sans-serif;
}

header {
	background-color: var(--header-color);
	z-index: 999999;
	position: fixed;
    display: flex;
	width: 100vw;
    height: 75px;
    align-items: center;
	flex-direction: row;
	padding: 0 20px;

    #logo {
        width: 120px;
        max-height: 100%;
    }

	.darkmode-switch {
		margin-left: auto;
	}
}

main {
	z-index: 999;
	height: 100%;
}

footer {
	background-color: var(--footer-color);
	position: fixed;
	bottom: 0;
	width: 100vw;
	z-index: 999999;
    height: 32px;
    display: grid;
    place-items: center;
	letter-spacing: 2px;
	font-size: 12px;
	color: var(--other-text-color);
	text-align: center;

	.footer-link {
		text-decoration: none;
		color: inherit;
		margin-left: 16px;
	}

	.footer-link:hover {
		text-decoration: underline;
		text-underline-offset: 2px;
	}
}

@media only screen and (max-width: 700px) {
	header {
		height: 60px;
		justify-content: center;

		img {
			width: 100px;
		}
	}

	footer {
		letter-spacing: 0.1px;
		font-size: 11px;

		.cookie-link {
			margin-left: 8px;
		}
	}
}
