@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
	min-height: 100%;
	overflow-x: hidden;
    flex-direction: column;
	font-family: 'PT Sans', sans-serif;
}

header {
    height: 75px;
    display: grid;
    align-items: center;
	justify-content: left;
	padding: 0 20px;

    img {
        width: 120px;
        max-height: 100%;
    }
}

main {
	height: 100%;
}

footer {
    height: 32px;
    display: grid;
    place-items: center;

    span {
        letter-spacing: 2px;
        color: gray;
        font-size: 12px;
        text-align: center;
    }
}

@media only screen and (max-width: 700px) {
	header {
		height: 60px;
		justify-content: center;

		img {
			width: 100px;
		}
	}
}
