@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import 'darkmode';

*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
	min-height: 100vh;
	height: 100vh;
	overflow-x: hidden;
    flex-direction: column;
	font-family: 'PT Sans', sans-serif;
}

header {
	background-color: var(--header-color);
	z-index: 999999;
	position: fixed;
    display: flex;
	width: 100vw;
    height: 75px;
    align-items: center;
	flex-direction: row;
	padding: 0 20px;

    #logo {
        width: 120px;
        max-height: 100%;
    }

	.darkmode-switch {
		margin-left: auto;
	}
}

main {
	z-index: 999;
	height: 100%;

	.animated-background {
		opacity: 0.1;
		top: 50%;
		left: 50%;
		z-index: 9;
		width: 100%;
		height: 100vh;
		position: fixed;
		background-size: 20%;
		background-repeat: repeat;
		background-position: 0 0;
		background-image: url('/img/bg.png');
		transform: translate(-50%, -50%) rotate(-5deg) scale(1.2);
		transition: transform 1s ease-in-out, opacity 1s ease-in-out;
		animation: Falling 100s linear infinite;

		&.zoomed {
			opacity: 0.3;
			transform: translate(-50%, -50%) rotate(0deg) scale(1.5);
		}
	}

}

footer {
	bottom: 0;
	width: 100vw;
    height: 32px;
    display: grid;
	font-size: 12px;
	z-index: 999999;
	position: fixed;
	text-align: center;
    place-items: center;
	color: var(--other-text-color);
	background-color: var(--footer-color);

	.footer-link {
		color: inherit;
		margin-left: 24px;
		text-decoration: none;
	}

	.footer-link:hover {
		text-decoration: underline;
		text-underline-offset: 2px;
	}
}

@media only screen and (max-width: 700px) {
	header {
		height: 60px;
		justify-content: center;

		img {
			width: 100px;
		}
	}

	main .animated-background {
		background-size: 50%;
		animation: none;

		&.zoomed {
			opacity: 0.1;
			transform: translate(-50%, -50%) rotate(-5deg) scale(1.2);
		}
	}

	footer {
		letter-spacing: 0.1px;
		font-size: 10px;
		height: 24px;

		a {
			display: none;
		}

		.cookie-link {
			margin-left: 8px;
		}
	}
}


@keyframes Falling {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -1200px 0;
	}
}
