.banner {
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.7)), url('../img/rainbow-dark.jpg') no-repeat center;
    background-size: cover;
    height: 100%;
    display: grid;
    place-items: center;

    h1, p {
        color: white;
        text-align: center;
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 18px;
        letter-spacing: 2px;
    }

}

.baton {
    all: unset;
    margin: 35px auto 0;
    width: 285px;
    height: 50px;
    display: grid;
    align-items: center;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    border: 4px solid white;
    transition: background-color 80ms linear;

    &:hover {
        background-color: #ffffff;
        color: black;
        cursor: pointer;
    }
    
}
