.hidden {
	top: calc(50% + 16px) !important;
	opacity: 0;
	user-select: none;
	pointer-events: none;
}

.quiz {
	display: block;
    background-color: #399ad6;
}

#question {
	position: absolute;
	top: 50%;
	left: 50%;
	display: flex;
	width: 700px;
	height: auto;
	padding: 48px;
	flex-direction: column;
	background-color: white;
	transform: translate(-50%, -50%);
	transition: opacity 0.2s linear, top 0.3s ease;

	.top {
		user-select: none;
		display: flex;
		width: 100%;
		font-size: 14px;
		flex-direction: row;
		margin-bottom: 32px;
		letter-spacing: 1px;

		#question-title {
			opacity: 0.5;
			width: 100%;
			text-align: left;
		}

		#go-back {
			opacity: 0.5;
			width: 100%;
			cursor: pointer;
			text-align: right;

			&:hover {
				opacity: 1;
				text-decoration: underline;
				text-underline-position: under;
			}
		}

	}

	#text {
		text-align: center;
		font-weight: normal;
		font-size: 24px;
		margin: 64px 32px;
		margin-bottom: 92px;
	}

	#answers {
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 100%;

		.answer {
			all: unset;
			cursor: pointer;
            color: white;
            width: 100%;
            margin: 0 16px;
			padding: 16px 32px;
			font-size: 14px;
			letter-spacing: 1px;
            text-align: center;
            font-weight: normal;
            background-color: #1780C3;
            transition: background-color 50ms ease;

            &:hover {
                background-color: #1780C3;
            }

            &:active {
                background-color: #1d5375;
            }

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

#result {
	display: flex;
	width: 700px;
	height: 100%;
	padding: 48px;
	flex-direction: column;
	background-color: white;
	transition: opacity 0.2s linear, transform 0.3s ease;

}

@media only screen and (max-width: 700px) {
	.hidden {
		top: 0 !important;
		opacity: 0;
		user-select: none;
		pointer-events: none;
	}

	.quiz {
		padding: 16px;
		align-content: flex-start;
	}

	#question {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 32px;
		transform: none;

		.top {
			margin-bottom: 12px;
		}

		#text {
			font-size: 16px;
			margin: 32px 16px;
			margin-bottom: 48px;
		}

		#answers {
			flex-direction: column;

			.answer {
				margin: 0;
				font-size: 12px;
				margin-bottom: 16px;
				padding: 14px 0;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}
