
.hidden {
	top: calc(50% + 16px) !important;
	opacity: 0;
	user-select: none;
	pointer-events: none;
}

.quiz {
	overflow-y: hidden;
	position: relative;
	display: block;
    background: var(--quiz-background);
}

.button {
	all: unset;
	border-radius: 3px;
	cursor: pointer;
	padding: 16px 32px;
	font-size: 12px;
	letter-spacing: 1px;
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
	color: var(--quiz-button-text-color);
	background-color: var(--quiz-button-background-color);
	transition: transform 0.1s ease;

	&:hover {
		transform: scale(1.05);
	}

	&:active {
		transform: scale(0.95);
	}
}

#question, #result {
	box-shadow: 4px 4px 32px rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 50%;
	left: 50%;
	display: flex;
	height: auto;
	padding: 48px;
	border-radius: 6px;
	margin-bottom: 32px;
	flex-direction: column;
	transform: translate(-50%, calc(-50% + 22px));
	background-color: var(--quiz-modal-background);
	transition: opacity 0.2s linear, top 0.3s ease;
}

#question {
	width: 100%;
	max-width: 700px;

	.top {
		user-select: none;
		display: flex;
		width: 100%;
		font-size: 14px;
		flex-direction: row;
		margin-bottom: 32px;
		letter-spacing: 1px;

		#question-title {
			color: var(--quiz-other-text-color);
			opacity: 0.5;
			width: 100%;
			text-align: left;
		}

		#go-back {
			color: var(--quiz-other-text-color);
			opacity: 0.5;
			width: 100%;
			cursor: pointer;
			text-align: right;

			&:hover {
				opacity: 1;
				text-decoration: underline;
				text-underline-position: under;
			}
		}
	}


	#text {
		text-align: center;
		font-weight: normal;
		font-size: 20px;
		margin: 24px;
		margin-bottom: 64px;
		color: var(--quiz-text-color);
	}

	#answers {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;

		.answer {
            width: 100%;
			margin-bottom: 16px;
            padding: 14px 0;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

#result {
	width: 100%;
	max-width: 400px;
	align-items: center;
	padding-bottom: 16px;

	label {
		opacity: 0.5;
		font-size: 14px;
		text-align: center;
		font-style: italic;
		margin-bottom: 16px;
		letter-spacing: 1px;
		color: var(--quiz-other-text-color);
	}

	#student-image {
		width: 256px;
		height: 256px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 16px;
		background-image: none;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}

	#student-name {
		display: block;
		font-size: 32px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 6px;
		color: white;
		width: 100%;
		padding: 12px 32px;
		text-align: center;
		border-radius: 32px;
		text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
		background: var(--quiz-button-background-color);
	}

	#student-description {
		font-size: 14px;
		text-align: center;
		margin-bottom: 24px;
		color: var(--quiz-text-color);
	}

	.links {
		display: flex;
		width: 100%;
		padding: 4px;
		font-size: 12px;
		letter-spacing: 1px;
		flex-direction: row;
		justify-content: center;
		color: var(--quiz-other-text-color);
		font-style: italic;

		span {
			margin-left: 8px;
			margin-right: 8px;
		}

		#restart, #all-results {
			all: unset;
			opacity: 0.5;
			cursor: pointer;
		}

		#restart:visited, #all-results:visited {
			color: var(--quiz-other-text-color);
		}

		#restart:hover, #all-results:hover {
			opacity: 1;
			text-decoration: underline;
			text-underline-offset: 3px;
		}
	}

	.shareon {
		transform: scale(0.75);
		display: block;
		margin-left: auto;
		margin-right: auto;

		* {
			border-radius: 0;
		}
	}
}

@media only screen and (max-width: 700px), only screen and (max-height: 600px) {
	.hidden {
		top: 100vh !important;
		opacity: 1 !important;
		user-select: none;
		pointer-events: none;
	}

	.button {
		font-size: 11px;
		letter-spacing: 0.1px;
	}

	.quiz {
		padding: 16px;
		align-content: flex-start;
	}

	#question, #result {
		top: 60px;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 24px;
		padding-top: 16px;
		border-radius: 0px;
		transform: none;
	}

	#question {
		.top {
			margin-bottom: 12px;
		}

		#text {
			font-size: 16px;
			margin: 18px 8px;
			margin-bottom: 32px;
		}

		#answers {
			.answer {
				margin: 0;
				padding: 14px 0;
				margin-bottom: 16px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	#result {
		height: 100%;
		max-width: 100%;

		label {
			font-size: 12px;
			margin-bottom: 14px;
		}

		#student-image {
			width: 100%;
			height: auto;
			margin-left: 0;
			margin-right: 0;
			margin-bottom: 32px;
		}

		#student-name {
			font-size: 24px;
			margin-bottom: 4px;
		}

		#student-description {
			margin-bottom: 32px;
		}

		.shareon {
			margin-top: auto;
		}

		.links {
			margin-bottom: 92px;
		}
	}
}
